@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EatOnline</h1>
    <p class="lead">EatOnline is online application that allows to browse and order dishes from EatOnline restaurant.</p>
    <p><a href="Account/Register" class="btn btn-primary btn-lg">Register now !!! &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Browse dishes</h2>
        <p>
            Our application will allow you to get easy access to our restaurant's menu. You can search for specific dishes and find out their calorific
            as well as the ingredients used in the process of preparing it for you. You can filter dishes by chosen categories.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Browse dishes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Order food</h2>
        <p>Order your favourite food sitting at your home.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Order something &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Administrator tools</h2>
        <p>Take control over this site.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Admin Tools &raquo;</a></p>
    </div>
</div>